.shadow-none {
  box-shadow: none;
}
.shadow-lowest,
.shadow-xs {
  box-shadow: var(--shadow-lowest);
}

.shadow-low,
.shadow-sm {
  box-shadow: var(--shadow-low);
}

.shadow-middle,
.shadow-md {
  box-shadow: var(--shadow-middle);
}

.shadow-upper-middle,
.shadow-lg {
  box-shadow: var(--shadow-upper-middle);
}

.shadow-high,
.shadow-xl {
  box-shadow: var(--shadow-high);
}
