.gr-description {
  --gr-description-color: var(--color-text-secondary, #626c77);

  margin: 0;
  font-family: 'MTS Compact', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gr-description-color);
  white-space: pre-wrap;
}

.gr-description--error {
  --gr-description-color: var(--color-text-negative, #d8400c);
}

.gr-description--success {
  --gr-description-color: var(--color-text-positive, #12b23f);
}
